<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            {{#if showProduct}}
                <div class="card mb-5">
                    <div class="card-body px-3 pt-1 pb-3">
                        <input type="hidden" id="productId" value="{{productId}}">
                        <div class="row mt-4 mb-4">
                            <div class="col-md-3">
                                <div class="image-upload mb-3">
                                    <img id="productImageItem" alt="img" class="img-thumbnail border-radius-md"
                                         src="/static/upload/{{productImg}}">
                                </div>
                                <div class="mb-3 product-edit" style="display: none">
                                    <label for="image" class="form-label">Изображение</label>
                                    <input class="form-control" type="file" name="image" id="image">
                                </div>
                                <div id="parameters" class="px-2">
                                    <p class="text-sm mb-1 font-weight-bold">
                                        <span>Создан</span>
                                        <span class="float-end" id="createdAt"></span>
                                    </p>
                                    <p class="text-sm mb-1 font-weight-bold">
                                        <span>Изменен</span>
                                        <span class="float-end" id="updatedAt"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div>
                                    <h2 class="d-inline">{{itemName}}</h2>
                                    <span class="font-weight-bold ms-3" id="manufacturer"></span>
                                </div>
                                <div id="itemInfo">
                                    <div class="mb-3 product-edit" style="display: none">
                                        <label for="nameEdit" class="form-label">Наименование</label>
                                        <input autocomplete="off" type="text" class="form-control" id="nameEdit" placeholder="Пример: skittles">
                                    </div>
                                    <div class="mb-3 product-info">
                                        <div id="category" class="">
                                            <div class="spinner-border spinner-border-sm text-primary"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3 product-edit" style="display: none">
                                        <span class="form-label">Категория</span>
                                        <select class="form-select" id="categoryEdit">
                                        </select>
                                    </div>
                                    <div class="mb-3 product-edit" style="display: none">
                                        <div class="row mb-3">
                                            <label class="form-label">Производитель (укажите нового или выберите из списка)</label>
                                            <div class="col">
                                                <input type="text" class="form-control" id="newManufacturer" aria-label="Производитель" placeholder="Новый производитель...">
                                            </div>
                                            <div class="col-1 text-center align-self-center">
                                                <span class="font-weight-bolder">или</span>
                                            </div>
                                            <div class="col">
                                                <select class="form-select" id="existingManufacturer" aria-label="Производитель">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 product-info">
                                        <span class="text-body font-weight-bolder">Описание</span>
                                        <div id="description" class="mt-1">
                                            <div class="spinner-border spinner-border-sm text-primary"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3 product-info">
                                        <span class="text-body font-weight-bolder">Теги</span>
                                        <div id="tags" class="mt-1">
                                            <div class="spinner-border spinner-border-sm text-primary"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3 product-edit" style="display: none">
                                        <label for="descriptionEdit" class="form-label">Описание</label>
                                        <textarea id="descriptionEdit"></textarea>
                                    </div>
                                    <div class="mb-3 product-edit" style="display: none">
                                        <div class="mb-3">
                                            <label for="tagsEdit" class="form-label">Теги</label>
                                            <input type="text" class="form-control" id="tagsEdit">
                                        </div>
                                        <div class="mb-3">
                                            <label for="compositionEdit" class="form-label">Состав</label>
                                            <input type="text" class="form-control" id="compositionEdit">
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <label for="weightEdit" class="form-label">Вес, гр</label>
                                                <input type="number" class="form-control" id="weightEdit">
                                            </div>
                                            <div class="col">
                                                <label for="priceEdit" class="form-label">Цена</label>
                                                <input type="number" class="form-control" id="priceEdit">
                                            </div>
                                            <div class="col mt-auto">
                                                <div class="form-check form-switch ps-0">
                                                    <input class="form-check-input ms-auto" type="checkbox" id="availableEdit">
                                                    <label class="form-check-label text-body ms-3 text-truncate" for="availableEdit">
                                                        Доступен для заказа
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" product-info">
                                        <div class="col-3">
                                            <div class="mb-3">
                                                <span class="text-body font-weight-bolder">Наличие</span>
                                                <div id="available" class="mt-1">
                                                    <div class="spinner-border spinner-border-sm text-primary"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <span class="text-body font-weight-bolder">Вес</span>
                                                <div id="weight" class="mt-1">
                                                    <div class="spinner-border spinner-border-sm text-primary"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <span class="text-body font-weight-bolder">Стоимость</span>
                                                <div id="price" class="mt-1">
                                                    <div class="spinner-border spinner-border-sm text-primary"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <span class="text-body font-weight-bolder">Состав</span>
                                                <div id="composition" class="mt-1">
                                                    <div class="spinner-border spinner-border-sm text-primary"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col text-end">
                                <button type="button" class="btn bg-gradient-danger btn-danger mx-2" id="deleteProduct">Удалить</button>
                                <button type="button" class="btn bg-gradient-primary btn-primary mx-2" id="editProduct">Редактировать</button>
                                <a href="#" class="btn bg-gradient-success btn-success mx-2" id="productPage">Страница в магазине</a>
                                <button type="button" class="btn bg-gradient-danger btn-danger mx-2" id="cancelEdit" style="display: none">Отмена</button>
                                <button type="button" class="btn bg-gradient-primary btn-primary mx-2" id="doEdit" style="display: none">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}

            {{#if createProduct}}
                <div class="card mb-5">
                    <div class="card-body px-3 pt-1 pb-3">
                        <h5 class="card-title mt-2">Укажите параметры</h5>
                        <div class="row justify-content-center">
                            <div class="col-xl-8">
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="category" class="form-label">Категория</label>
                                        <select class="form-select" id="category">
                                            <option selected value="">Укажите категорию</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="name" class="form-label">Наименование</label>
                                        <input autocomplete="off" type="text" class="form-control" id="name" placeholder="Пример: skittles">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="form-label">Производитель (укажите нового или выберите из списка)</label>
                                    <div class="col">
                                        <input type="text" class="form-control" id="newManufacturer" aria-label="Производитель" placeholder="Новый производитель...">
                                    </div>
                                    <div class="col-1 text-center align-self-center">
                                        <span class="font-weight-bolder">или</span>
                                    </div>
                                    <div class="col">
                                        <select class="form-select" id="existingManufacturer" aria-label="Производитель">
                                            <option value="" selected>Выберите из списка</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="description" class="form-label">Описание</label>
                                        <textarea id="description"></textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="composition" class="form-label">Состав</label>
                                        <input type="text" class="form-control" id="composition">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="tags" class="form-label">Теги (разделять запятой)</label>
                                        <input type="text" class="form-control" id="tags">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="weight" class="form-label">Вес, гр</label>
                                        <input type="number" class="form-control" id="weight">
                                    </div>
                                    <div class="col">
                                        <label for="price" class="form-label">Цена</label>
                                        <input type="number" class="form-control" id="price">
                                    </div>
                                    <div class="col align-self-end">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input ms-auto" type="checkbox" id="available">
                                            <label class="form-check-label text-body ms-3 text-truncate" for="available">
                                                Доступен для заказа
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="image" class="form-label">Изображение</label>
                                        <input class="form-control" type="file" name="image" id="image">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col text-end">
                                        <button type="button" class="btn bg-gradient-primary btn-primary" id="createProductSubmit">Создать</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>

<script src="/static/adminui/js/pages/product.js"></script>
{{#if showProduct}}
    <script>
        initView()
    </script>
{{/if}}
{{#if createProduct}}
    <script>
        initCreate()
        tinyMCE.init({
            selector: '#description',
            language: 'ru'
        })
    </script>
{{/if}}
