<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-4 col-xl-3">

            <div class="card mb-5">
                <div class="card-header pb-1 pe-3">
                    <h5 class="card-title">
                        Категории <button onclick="showCategoryAdd()" class="shadow btn px-3 py-1 btn-sm btn-success bg-gradient-success float-end font-weight-bolder" type="button">+</button>
                    </h5>
                </div>
                <div class="card-body px-3 pt-1 pb-3">
                    <div id="categoryAdd" class="mb-3" style="display: none">
                        <input type="text" id="categoryAddInput" placeholder="Название..." aria-label="Категория" class="form-control w-auto d-inline-block">
                        <button type="button" class="btn btn-primary float-end mb-0" onclick="addCategory()">Добавить</button>
                    </div>
                    <div id="categoryList">

                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header pb-1 pe-3">
                    <h5 class="card-title">
                        Статистика
                    </h5>
                </div>
                <div class="card-body px-3 pt-1 pb-3">
                    <div class="mb-2 ps-3">
                        <span>Всего товаров</span>
                        <span id="productsStatCount" class="float-end"><div class="spinner-border spinner-border-sm text-primary" role="status"></div></span>
                    </div>
                    <div class="mb-4 ps-3">
                        <span>В наличии</span>
                        <span id="productsStatAvailable" class="float-end"><div class="spinner-border spinner-border-sm text-primary" role="status"></div></span>
                    </div>
                    <div class="mb-2 ps-2">
                        <h6>Распределение товаров</h6>
                    </div>
                    <div class="mb-2">
                        <canvas id="productsChart" class="chart-canvas" height="170"></canvas>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-8 col-xl-9">
            <div class="card mb-5">
                <div class="card-header pb-1 pe-3">
                    <h5 class="card-title">
                        Товары <a href="/admin/products/create" class="shadow btn px-3 py-1 btn-sm btn-success bg-gradient-success float-end font-weight-bolder" type="button">Добавить</a>
                    </h5>
                </div>
                <div class="card-body px-1 pt-1 pb-3 table-responsive">
                    <div class="text-center" id="productsLoader">
                        <div class="spinner-border text-primary" role="status"></div>
                    </div>
                    <table id="productsTable" class="table table-borderless table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Наименование</th>
                                <th>Категория</th>
                                <th>Теги</th>
                                <th>Вес, гр</th>
                                <th>Стоимость</th>
                                <th>Наличие</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/adminui/js/pages/products.js"></script>
