<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Все зарегистрированные пользователи</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2 ps-2 pe-2">
                    <table class="table table-borderless align-items-center mb-0" id="usersTable" style="border-bottom: none">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Имя</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Покупок</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Выручка</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Регистрация</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 48 48"><title>profile</title><g class="nc-icon-wrapper"><path d="M43.25,37.8,30,32V22H18V32l-.125.062L4.754,37.8A4.985,4.985,0,0,0,2,42.009V45a1,1,0,0,0,1,1H45a1,1,0,0,0,1-1V42.009A4.979,4.979,0,0,0,43.25,37.8Z" fill="#4a40ce" fill-rule="evenodd"></path><path d="M24,28A11.013,11.013,0,0,1,13,17V13a11,11,0,0,1,22,0v4A11.013,11.013,0,0,1,24,28Z" fill="#857cf8"></path></g></svg>
                                        example@mail.ru
                                    </a>
                                </td>
                                <td>Albion04</td>
                                <td>1</td>
                                <td>
                                    <span class="badge badge-sm bg-gradient-primary">500</span>
                                </td>
                                <td>13.12.2021</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 48 48"><title>profile</title><g class="nc-icon-wrapper"><path d="M43.25,37.8,30,32V22H18V32l-.125.062L4.754,37.8A4.985,4.985,0,0,0,2,42.009V45a1,1,0,0,0,1,1H45a1,1,0,0,0,1-1V42.009A4.979,4.979,0,0,0,43.25,37.8Z" fill="#4a40ce" fill-rule="evenodd"></path><path d="M24,28A11.013,11.013,0,0,1,13,17V13a11,11,0,0,1,22,0v4A11.013,11.013,0,0,1,24,28Z" fill="#857cf8"></path></g></svg>
                                        example@gmail.com
                                    </a>
                                </td>
                                <td>Василий Русяев</td>
                                <td>0</td>
                                <td>
                                    <span class="badge badge-sm bg-gradient-secondary">0</span>
                                </td>
                                <td>15.12.2021</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 48 48"><title>profile</title><g class="nc-icon-wrapper"><path d="M43.25,37.8,30,32V22H18V32l-.125.062L4.754,37.8A4.985,4.985,0,0,0,2,42.009V45a1,1,0,0,0,1,1H45a1,1,0,0,0,1-1V42.009A4.979,4.979,0,0,0,43.25,37.8Z" fill="#4a40ce" fill-rule="evenodd"></path><path d="M24,28A11.013,11.013,0,0,1,13,17V13a11,11,0,0,1,22,0v4A11.013,11.013,0,0,1,24,28Z" fill="#857cf8"></path></g></svg>
                                        example@gmail.com
                                    </a>
                                </td>
                                <td>Eleanora Ruswelt</td>
                                <td>3</td>
                                <td>
                                    <span class="badge badge-sm bg-gradient-primary">1337</span>
                                </td>
                                <td>10.12.2021</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#usersTable').DataTable({
        lengthChange: false,
        language: {
            url: '/static/adminui/datatable_ru.json'
        }
    })
    $('#usersTable_filter input[type="search"]').attr('placeholder', 'Table search');
</script>
