<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl bg-white my-3 fixed-start ms-3"
       id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
           aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="/admin/">
            <img src="/static/adminui/img/chocoLogo.png" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold">NiAdmin</span>
        </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse w-auto max-height-vh-100" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48"><title>app
                            store</title>
                            <g class="nc-icon-wrapper">
                                <rect x="3" y="3" width="17" height="17" rx="3" fill="#6cc4f5"></rect>
                                <path d="M46.138,9.419,38.581,1.862a2.945,2.945,0,0,0-4.162,0L26.862,9.419a2.943,2.943,0,0,0,0,4.162l7.557,7.557a2.948,2.948,0,0,0,4.162,0l7.557-7.557a2.943,2.943,0,0,0,0-4.162Z"
                                      fill="#c456eb"></path>
                                <rect x="28" y="28" width="17" height="17" rx="3" fill="#6cc4f5"></rect>
                                <rect x="3" y="28" width="17" height="17" rx="3" fill="#6cc4f5"></rect>
                            </g>
                        </svg>
                    </div>
                    <span class="nav-link-text ms-1 fw-bolder">Панель управления</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48"><title>
                            news</title>
                            <g class="nc-icon-wrapper">
                                <path d="M46,4V42a4,4,0,0,1-4,4H6l4-14V4a2,2,0,0,1,2-2H44A2,2,0,0,1,46,4Z"
                                      fill="#e3e3e3"></path>
                                <path d="M38,13H32a1,1,0,0,1,0-2h6a1,1,0,0,1,0,2Z" fill="#aeaeae"></path>
                                <path d="M38,21H32a1,1,0,0,1,0-2h6a1,1,0,0,1,0,2Z" fill="#aeaeae"></path>
                                <path d="M38,29H18a1,1,0,0,1,0-2H38a1,1,0,0,1,0,2Z" fill="#aeaeae"></path>
                                <path d="M38,37H18a1,1,0,0,1,0-2H38a1,1,0,0,1,0,2Z" fill="#aeaeae"></path>
                                <path d="M26,21H18a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1h8a1,1,0,0,1,1,1v8A1,1,0,0,1,26,21Z"
                                      fill="#3aace9"></path>
                                <path d="M6,46H6a4,4,0,0,0,4-4V27H3a1,1,0,0,0-1,1V42A4,4,0,0,0,6,46Z"
                                      fill="#aeaeae"></path>
                            </g>
                        </svg>
                    </div>
                    <span class="nav-link-text ms-1 fw-bolder">Публикации</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48"><title>
                            cart</title>
                            <g class="nc-icon-wrapper">
                                <path d="M43,36H8a1,1,0,0,1-.868-1.5l4-7a1,1,0,1,1,1.736.992L9.724,34H43a1,1,0,0,1,0,2Z"
                                      fill="#c8c8c8"></path>
                                <path d="M10,11a1,1,0,0,1-.9-.553L7.324,6.885,2.8,5.98A1,1,0,0,1,3.2,4.02l5,1a1,1,0,0,1,.7.533l2,4A1,1,0,0,1,10,11Z"
                                      fill="#c8c8c8"></path>
                                <path d="M12,38a4,4,0,1,0,4,4A4,4,0,0,0,12,38Z" fill="#2a4b55"></path>
                                <path d="M39,38a4,4,0,1,0,4,4A4,4,0,0,0,39,38Z" fill="#2a4b55"></path>
                                <circle cx="12" cy="42" r="2" fill="#fff"></circle>
                                <circle cx="39" cy="42" r="2" fill="#fff"></circle>
                                <path d="M41,29H12a1,1,0,0,1-.994-.89l-2-18A1,1,0,0,1,10.088,9l34,3a1,1,0,0,1,.893,1.192l-3,15A1,1,0,0,1,41,29Z"
                                      fill="#4d8b9d"></path>
                            </g>
                        </svg>
                    </div>
                    <span class="nav-link-text ms-1 fw-bolder">Заказы</span>
                    <span class="badge bg-gradient-success ms-auto">+1</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48"><title>
                            automated logistics</title>
                            <g class="nc-icon-wrapper">
                                <rect x="28" y="27" width="16" height="12" rx="1" fill="#d0ab86"></rect>
                                <rect x="4" y="19" width="20" height="20" rx="1" fill="#d0ab86"></rect>
                                <path d="M43.651,15.242,38,10.4V2a1,1,0,0,0-1-1H35a1,1,0,0,0-1,1v8.4l-5.651,4.844A1,1,0,0,0,28,16v5a1,1,0,0,0,2,0V16.46l6-5.143,6,5.143V21a1,1,0,0,0,2,0V16A1,1,0,0,0,43.651,15.242Z"
                                      fill="#c8c8c8"></path>
                                <path d="M44,41H4a3,3,0,0,0,0,6H44a3,3,0,0,0,0-6Z" fill="#363636"></path>
                                <path d="M4,45a1,1,0,0,1,0-2H44a1,1,0,0,1,0,2Z" fill="#7b7b7b"></path>
                                <rect x="12" y="19" width="4" height="20" fill="#ddc2a7"></rect>
                                <rect x="34" y="27" width="4" height="12" fill="#ddc2a7"></rect>
                                <path d="M17,25H11a1,1,0,0,1,0-2h6a1,1,0,0,1,0,2Z" fill="#7d5731"></path>
                            </g>
                        </svg>
                    </div>
                    <span class="nav-link-text ms-1 fw-bolder">Товары</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48"><title>
                            comments</title>
                            <g class="nc-icon-wrapper">
                                <path d="M45,8H14a2,2,0,0,0-2,2V34a2,2,0,0,0,2,2H25.7l11.748,7.832A1,1,0,0,0,39,43V36h6a2,2,0,0,0,2-2V10A2,2,0,0,0,45,8Z"
                                      fill="#3aace9"></path>
                                <path d="M37,2H3A2,2,0,0,0,1,4V28a2,2,0,0,0,2,2H9v9a1,1,0,0,0,1,1,.988.988,0,0,0,.581-.187L24.32,30H37a2,2,0,0,0,2-2V4A2,2,0,0,0,37,2Z"
                                      fill="#a0d9f8"></path>
                            </g>
                        </svg>
                    </div>
                    <span class="nav-link-text ms-1 fw-bolder">Комментарии</span>
                    <span class="badge bg-gradient-success ms-auto">+3</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48"><title>
                            letter</title>
                            <g class="nc-icon-wrapper">
                                <path d="M46,41H2a1,1,0,0,1-1-1V8A1,1,0,0,1,2,7H46a1,1,0,0,1,1,1V40A1,1,0,0,1,46,41Z"
                                      fill="#aeaeae"></path>
                                <path d="M24,19a1,1,0,0,1,.673.26l22,20A1,1,0,0,1,46,41H2a1,1,0,0,1-.673-1.74l22-20A1,1,0,0,1,24,19Z"
                                      fill="#c8c8c8"></path>
                                <path d="M24,29a1,1,0,0,1-.673-.26l-22-20A1,1,0,0,1,2,7H46a1,1,0,0,1,.673,1.74l-22,20A1,1,0,0,1,24,29Z"
                                      fill="#e3e3e3"></path>
                            </g>
                        </svg>
                    </div>
                    <span class="nav-link-text ms-1 fw-bolder">Почта</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48"><title>
                            profile</title>
                            <g class="nc-icon-wrapper">
                                <path d="M43.25,37.8,30,32V22H18V32l-.125.062L4.754,37.8A4.985,4.985,0,0,0,2,42.009V45a1,1,0,0,0,1,1H45a1,1,0,0,0,1-1V42.009A4.979,4.979,0,0,0,43.25,37.8Z"
                                      fill="#4a40ce" fill-rule="evenodd"></path>
                                <path d="M24,28A11.013,11.013,0,0,1,13,17V13a11,11,0,0,1,22,0v4A11.013,11.013,0,0,1,24,28Z"
                                      fill="#857cf8"></path>
                            </g>
                        </svg>
                    </div>
                    <span class="nav-link-text ms-1 fw-bolder">Учетные записи</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48"><title>
                            cogwheel</title>
                            <g class="nc-icon-wrapper">
                                <path d="M46.083,20,40.4,19.529a16.739,16.739,0,0,0-1.641-3.956l3.691-4.362a1,1,0,0,0-.056-1.353L38.142,5.615a1,1,0,0,0-1.353-.056l-4.361,3.69A16.837,16.837,0,0,0,28.471,7.6L28,1.917A1,1,0,0,0,27,1H21a1,1,0,0,0-1,.917L19.529,7.6a16.739,16.739,0,0,0-3.956,1.641L11.211,5.554a1,1,0,0,0-1.353.056L5.615,9.858a1,1,0,0,0-.056,1.353l3.69,4.361A16.837,16.837,0,0,0,7.6,19.529L1.917,20A1,1,0,0,0,1,21v6a1,1,0,0,0,.917,1l5.687.475a16.739,16.739,0,0,0,1.641,3.956L5.554,36.789a1,1,0,0,0,.056,1.353l4.243,4.243a1,1,0,0,0,1.352.056l4.362-3.69A16.789,16.789,0,0,0,19.529,40.4L20,46.083A1,1,0,0,0,21,47h6a1,1,0,0,0,1-.917l.476-5.691a16.819,16.819,0,0,0,3.955-1.642l4.362,3.691a1,1,0,0,0,1.353-.056l4.243-4.243a1,1,0,0,0,.056-1.353l-3.69-4.361A16.885,16.885,0,0,0,40.4,28.471L46.083,28A1,1,0,0,0,47,27V21A1,1,0,0,0,46.083,20ZM24,31a7,7,0,1,1,7-7A7,7,0,0,1,24,31Z"
                                      fill="#c8c8c8"></path>
                                <path d="M24,14A10,10,0,1,0,34,24,10,10,0,0,0,24,14Zm0,17a7,7,0,1,1,7-7A7,7,0,0,1,24,31Z"
                                      fill="#949494"></path>
                            </g>
                        </svg>
                    </div>
                    <span class="nav-link-text ms-1 fw-bolder">Настройки магазина</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="deleteCookie('AuthToken'); document.location.reload()">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48"><title>
                            snowboarding</title>
                            <g class="nc-icon-wrapper">
                                <circle cx="30" cy="8" r="5" fill="#4d8b9d"></circle>
                                <path d="M30.83,32.6l-.671,6.7,4,.2.83-8.3a2,2,0,0,0-1.6-2.16l-4.5-.9a3.989,3.989,0,0,1,.094,1.193l-.238,2.857Z"
                                      fill="#3d6c7b"></path>
                                <path d="M8.461,12.926l10.1,2.824L15.4,23.03A5,5,0,0,0,18.022,29.6l.008,0a5.076,5.076,0,0,0,.614.192c.03.012.06.017.09.028.1.026.2.068.3.088l.021.006,3.805.715L22.168,38.9l4,.2L27,29.162a2,2,0,0,0-1.616-2.13l-.748-.144,2.983-6.975,8.247,5.726a2,2,0,1,0,2.282-3.286L25.783,13.845a6.446,6.446,0,0,0-.813-.441c-.107-.039-.587-.209-.644-.226L9.539,9.074a2,2,0,0,0-1.078,3.852Z"
                                      fill="#4d8b9d"></path>
                                <path d="M44,44h-.05l-40-2A1,1,0,0,1,3,40.952v0A1.011,1.011,0,0,1,4.05,40l40,2A1,1,0,1,1,44,44Z"
                                      fill="#fa9856"></path>
                            </g>
                        </svg>
                    </div>
                    <span class="nav-link-text ms-1 fw-bolder">Выход</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
